<template name="header">
    <header class="header">
        <a href="/" class="header__logo">
            <img src="./images/logo.svg" alt="Gemeente Amsterdam-Oost" />
        </a>

        <ul class="header__options">
            <li>
                <select name="city">
                    <option selected="selected" value="Stadsdeel">Stadsdeel</option>
                    <option value="amsterdam-oost">Amsterdam-Oost</option>
                    <option value="amsterdam-zuid">Amsterdam-Zuid</option>
                    <option value="amsterdam-noord">Amsterdam-Noord</option>
                    <option value="amsterdam-west">Amsterdam-West</option>
                </select>
            </li>
        </ul>
    </header>
</template>
