<template name="header">
    <header class="header">
        <a href="/" class="header__logo">
            <img src="./images/logo.svg" alt="Gemeente Amsterdam-Oost" />
        </a>

        <ul class="header__options">
            <li>
                <select name="city">
                    <option selected="selected" value="amsterdam-oost">Amsterdam-Oost</option>
                    <option value="amsterdam-zuid">Amsterdam-Zuid</option>
                    <option value="amsterdam-noord">Amsterdam-Noord</option>
                    <option value="amsterdam-west">Amsterdam-West</option>
                </select>
            </li>
            <li>
                <select name="plein">
                    <option selected="selected" value="plein-1">Plein-1</option>
                    <option value="plein-2">Plein-2</option>
                    <option value="plein-3">Plein-3</option>
                    <option value="plein-4">Plein-4</option>
                </select>
            </li>
            <li>
                <select name="day">
                    <option value="maandag">Maandag</option>
                    <option value="dinsdag">Dinsdag</option>
                    <option value="woensdag">woensdag</option>
                    <option value="donderdag">Donderdag</option>
                    <option value="vrijdag">Vrijdag</option>
                    <option value="zaterdag">Zaterdag</option>
                    <option selected="selected" value="zondag">Zondag</option>
                </select>
            </li>
        </ul>

        <ul class="header__stats">
            <li>
                Gemiddelde maand april
            </li>
            <li>
                <span>Geluidsoverlast</span>
                90%
            </li>
            <li>
                <span>Aanwezig</span>
                90%
            </li>
            <li>
                <span>Groepen</span>
                85%
            </li>
        </ul>
    </header>
</template>
