/* CHART CSS */


/*
Chart background: #cdd2d4
Waves: #64929d
Wave-stroke: white;
Hover bottom border: #dc3c3f
*/


/* CHART */

.chart {
    background: #ebeded;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100%;
}

.chart svg {
    background: #ebeded;
    display: block;
    margin: 0 auto;
    padding-top: 2em;
}

.chart text {
    fill: #000;
    z-index: 9999;
}

.overlay-close {
    background: #64929D;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    outline: 0;
    padding: .7em 1em;
    position: absolute;
    text-align: center;
}

.overlay-close:hover {
    background: #DC3C3F;
}

.value {
    fill: white !important;
    font-size: 1.2em;
}

.holder {
    fill: #64929d;
    stroke: white;
    stroke-width: 2px;
}

.groeps,
.sound,
.present {
    font-size: 1.2em;
}

.time {
    left: 2em;
    position: absolute;
    top: 3em;
}

.axis {
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke-width: .5px;
}

.x.axis path {
    stroke: #fff;
}

.x.axis line {
    stroke: #ebeded;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.y.axis line {
}

path.line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}


/* Tooltip */


/*div.tooltip {
    position: absolute;
    color: #1F1F1F;
    text-align: left;
    width: 150px;
    height: 50px;
    padding: 5px 16px;
    font: 1em sans-serif;
    background: #fff;
    pointer-events: none;
}*/
