.form {
    background-color: white;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    left: 50%;
    max-width: 30em;
    min-width: 20em;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form label {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.form span {
    font-size: 0.8em;
}
input[type="text"], input[type="password"], input[type="email"] {
    color: #878789;
    font-weight: normal;
    padding: 1em;
    width: 100%;
    font-size: 1rem;
    margin-bottom: .5em;
}
.form__block {
    margin-bottom: 1em;
}
.form__subtitle {
    margin-bottom: 1em;
}
.form__buttons {
    text-align: center;
}
.form__link {
    color: grey;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 3em;
    border: 1px solid #bdc3c7;
    background-color: #2ecc71;
    outline: 0;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height: 3em;
    border: 1px solid #bdc3c7;
    background-color: #2ecc71;
    outline: 0;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 5em;
	height: 5em;
	border-radius: 10em;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 5em;
	height: 5em;
	border-radius: 10em;
	cursor: pointer;
}


input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 5em;
	height: 5em;
	border-radius: 10em;
	cursor: pointer;
}
