.form {
    background-color: white;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    left: 50%;
    max-width: 30em;
    min-width: 20em;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form label {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.form span {
    font-size: 0.8em;
}
input[type="text"], input[type="password"], input[type="email"], select[name="role"] {
    border: solid 1px #ececec;
    border-radius: .3em;
    color: #878789;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .5em;
    padding: 1em;
    width: 100%;
}

textarea {
    border: solid 1px #ececec;
    border-radius: .3em;
    color: #878789;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .5em;
    padding: 1em;
    width: 100%;
}

.form__title{
    margin-bottom:1em;
    margin-top:1em;
}
.form__block {
    margin-bottom: 0.5em;
}
.form__subtitle {
    margin-bottom: 1em;
}
.form__buttons {
    text-align: center;
}
.form__link {
    color: grey;
}

.rangeslider label {
    color: #666;
    letter-spacing: 0.5px;
    margin: 0 0 1em 1em;

}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #35AD4B;
    border-radius: 2em;
    height: 1.5em;
    outline: 0;
    width: 85%;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    background-color: #2ecc71;
    border-radius: .3em;
    height: 3em;
    outline: 0;
    width: 85%;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #fff;
	border-radius: 10em;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	height: 3em;
	width: 3em;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #bdc3c7;
	border-radius: 10em;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	height: 5em;
	width: 5em;
}


input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #bdc3c7;
	border-radius: 10em;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	height: 5em;
	width: 5em;
}

input[type="submit"] {
    background-color:#BB2E31;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    width: 13em;
}


input[type="submit"]:hover {
    background-color: #DC3C3F;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('../../../img/arrow-down.svg') center right no-repeat;
    background-color: transparent;
    background-size: 1rem;
    border: none;
    font-size: 1rem;
    padding: 0.5em 2.5em 0.5em 0;
}


form div {
    margin: 0 0em 2.7em;
    position: relative;
}

form label {
    display: block;
}

output {
    background: #DC3C3F;
    border-radius: .2em;
    color: #fff;
    display: inline-block;
    height: 32px;
    line-height: 2em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 2.1em;
    width: 10%;
}

output:after {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #DC3C3F;
    border-top: 8px solid rgba(0, 0, 0, 0);
    content: '';
    height: 0;
    left: -10px;
    position: absolute;
    top: 8px;
    width: 0;
}
