.header {
    width: 100%;
    height: var(--menuHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.alt {
    justify-content: flex-start;
}

    .header__title{
        text-align: center;
    }

    .header__logo {
        margin: 0 2.3125rem;
    }

    .header__logo img {
        height: 4rem;
    }

    .header__options,
    .header__stats {
        margin-left: 5rem;
        list-style: none;
    }

    .header__options li,
    .header__stats li {
        display: inline-block;
        margin-right: 1em;
        position: relative;
    }

    .header__options select {
        background: url('../../../img/arrow-down.svg') center right no-repeat;
        background-size: 1rem;
        padding: 0.5em 1.2em 0.5em 0.5em;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .header__stats {
        margin-right: 2.8125rem;
    }

    .header__stats li {
        text-align: center;
    }

    .header__stats li:first-child {
        width: 7.5rem;
    }

    .header__stats li span {
        display: block;
        font-weight: bold;
    }

    @media (max-width: 72em) {
        .header__stats {
            display: none;
        }
    }
