.header {
    align-items: center;
    display: flex;
    height: var(--menuHeight);
    justify-content: space-between;
    width: 100%;
}

.header.alt {
    justify-content: flex-start;
}

    .header__title{
        text-align: center;
    }

    .header__logo {
        width: 5.5rem;
    }

    .header__logo img {
        display: block;
        height: 4rem;
        margin: 0 auto;
    }

    .header__options,
    .header__stats {
        list-style: none;
    }

    .header__options li,
    .header__stats li {
        display: inline-block;
        margin-right: 1em;
        position: relative;
    }

    .header__stats {
        margin-right: 2.8125rem;
    }

    .header__stats li {
        text-align: center;
    }

    .header__stats li:first-child {
        width: 7.5rem;
    }

    .header__stats li span {
        display: block;
        font-weight: bold;
    }

    @media (max-width: 70em) {
        .header__stats {
            display: none;
        }
    }
