.login,
.regoster{
    background:url(/img/login.png) no-repeat fixed;
    background-size: cover;
    width:100%;
    height:100vh;
}

.login button,
.regoster button{
    display: block;
    width: 13em;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 1.1em;
    text-align: center;
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    margin-bottom: 0.5em;
    background-color: transparent;
    border: 0;
    background-color:#BB2E31;
    cursor: pointer;
}

.login button:hover,
.regoster button:hover{
    background-color: #DC3C3F;
}

.login .form,
.regoster .form{
    border-radius:1em;
}
