* {
    box-sizing: border-box;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.59rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

#main {
    flex: 0 1 92%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.59rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
}

#main .content { padding: 0 2em; }
