html, body, html:before, body:before, html:after, body:after {
    box-sizing: border-box;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.59rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

/*.center {
    text-align: center;
}
.background {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: calc(100vh - 50px);
    padding: 2em;
}*/


#header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: .6em 0;
    background: #fff;
    flex: 0 1 100%;
    height: var(--menuHeight);
}

#header .logo {
    flex: 0 1 8%;
    margin-right: 2em;
}

#header .logo img{
    width: 1.3em;
    display: block;
    margin: 0 auto;
}

#header h1 {
    font-size: 1.3rem;
    font-weight: normal;
}

#main-nav {
    flex: 0 1 8%;
    background: #BB2E31;
    padding: 1.2em 0;
    color: #fff;
    align-content: center;
    box-sizing: border-box;
}

#main-nav ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style: none;
}

#main-nav ul li {
    margin-bottom: 3em;
}

#main {
    flex: 0 1 92%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.59rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
}

#main nav ul {
    list-style: none;
}
