#map {
    min-height: calc(100vh - var(--menuHeight));
    width: 100%;
}
.sensor-icon {
    background: var(--greenCollor);
    border-radius: 50% 50%;
}
.cycle-icon {
    background: var(--bleuCollor);
    border-radius: 50% 50%;
}
