#map {
    min-height: calc(100vh - var(--menuHeight));
    width: 100%;
}
.sensor-icon {
    background: var(--greenCollor);
    border-radius: 50% 50%;
}
.cycle-icon {
    border-radius: 50% 50%;
    height: 10px;

    width: 10px;
}

#map button{
  background-color:#BB2E31;
  border: 0;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  width: 13em;
}

#map button:hover{
    background-color: #DC3C3F;
}
