#main-nav {
    align-content: center;
    background: var(--redCollor);
    color: #fff;
    flex: 0 1 var(--sideBarWidht);
}
#main-nav ul {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}
#main-nav ul li {
    text-align: center;
    width: 100%;
}
#main-nav ul li a {
    border-bottom: 1px solid #DC3C3F;
    display: block;
    padding: 2em 0;
    width: 100%;
}

#main-nav ul li a:hover, #main-nav ul li a.active {
    background-color: #DC3C3F;
}
#main-nav ul li svg {
    height: 1.875rem;
    width: 1.875rem;
}

@media (max-width: 45em) {
    #main-nav {
        flex: 0 1 100%;
    }
    #main-nav ul {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #main-nav ul li {
      width: 5em;

    }
    #main-nav ul li{
        width: auto;
    }
    #main-nav ul li a {
        border-bottom: 0;
    }
}
