section.chart-wrapper {
    background: var(--backgroundCollor);
    display: block;
    position: absolute;
    top: var(--menuHeight);
    right: calc(-100vw - var(--sideBarWidht));
    width: calc(100vw - var(--sideBarWidht));
    height: calc(100vh - var(--menuHeight));
    overflow-y: scroll;
    z-index: 2;
}
