section.chart-wrapper {
    background: var(--backgroundCollor);
    display: block;
    position: absolute;
    top: var(--menuHeight);
    right: -700px;
    width: 700px;
    height: calc(100vh - var(--menuHeight));
    overflow-y: scroll;
    z-index: 2;
}
