table,
thead,
tbody,
tfoot,
tr,
th,
td {
    padding:0.5em;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.table {
    width: 100%;
}

.table__title {
    margin: 1em 0;
    color: #216474;
}

.table tr {
    color: #216474;
}

tr {
 margin-bottom:1em !important;
}

th {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

tr:nth-child(even) {
    background: #E7E7E7;
    border: none !important;
}

td.is-active {
    color: white;
    background-color:#DC3C3F;
    animation: colorChange .2s infinite;
}

@keyframes colorchange {
    0% {
        background-color: #DC3C3F;
    }
    100% {
        background-color: transparent;
    }
}

.center {
  text-align:center;
}

.add {
    display: block;
    background: url("../../../img/cross.svg") no-repeat center center;
    background-size: 45%;
    background-color: #D8D8D8;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 1px solid #979797;
}

.add:hover {
  opacity: 1;
}
