table,
thead,
tbody,
tfoot,
tr,
th,
td {
    padding:0.5em;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.table {
    margin-top: 2em;
    width: 100%;
}

.table__title {
    
}

tr {
 margin-bottom:1em !important;
}

th {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

tr:nth-child(even) {
    background: #E7E7E7;
    border: none !important;
}

.color {
  background-color:#DC3C3F;
}

.middle {
  text-align:center;
}

.add {
    display: block;
}

.add:hover {
  opacity: 1;
}
