:root {
    --backgroundCollor: #FFF;
    --bleuCollor: #64929d;
    --greenCollor: #35AD4B;
    --menuHeight: 5.5rem;
    --redCollor: #bb2e31;
    --sideBarWidht: 5.5rem;
    --textCollor: #4A4A4A;
}
