/* CHART CSS */

svg {
  font: 1em sans-serif;
  background: #38387D;
  color: white;
}

text {
  fill: #fff;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: .5px;
}

.x.axis path {
  stroke: #fff;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke: #8C8CB3;
  stroke-width: 2px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

/* TABS */

.tabs {
  margin: 1em;
}

.tabs__list {
  display: flex;
  list-style: none;
}

.tabs__list li {
    margin-right: .5em;
}

.tabs__list li a {
  display: block;
  text-decoration: none;
  padding: .5em;
  background: #eee;
  border-radius: 10px;
  width: 3em;
  text-align: center;
  cursor: pointer;
  color: black;
}

.tab__list li a:hover {
  background: darkgrey;
  color: white;
}

.tabs__list li.active a {
  background: darkgrey;
  color: white;
}